nav ul a:hover {
    color: #ec567c;
}
#search-bar {
    background-color: #ec567c;
}

.logo {
    width: 350px;
}

#search {
    width: 200px;
    transition: all .5s ease;
}

#search:focus {
    width: 400px;
}

.side-nav li {
    overflow: hidden;
}

.rose{
  color: #ec567c!important;
}

.card-description{
    padding: 13px 5px 10px 20Px;
    margin: 0px;
    color: white;
}

.bold {
  font-weight: bold!important;
}

.card-title-home {
  padding: 9px!important;
  font-size: 16px!important;
  border-bottom: 1px solid white;
}